In [1]:
#importing  libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Reading the dataset
dataset=pd.read_csv("covid_train.csv")

In [3]:
#printing the dataset 
dataset

,GENDER,AGE,WBC,Platelets,Neutrophils,Lymphocytes,Monocytes,Eosinophils,Basophils,CRP,AST,ALT,ALP,GGT,LDH,Class
0,F,70,4.9,145.0,4.0,0.7,0.3,0.0,0.0,87.9,68.0,41.0,89.0,63.0,606.0,1
1,M,61,11.3,166.0,10.7,0.5,0.1,0.0,0.0,174.3,118.0,95.0,59.0,77.0,808.0,1
2,F,70,15.8,202.0,13.9,1,0.8,0.0,0.0,43.8,20.0,26.0,80.0,16.0,235.0,0
3,M,85,10.6,227.0,NaN,NaN,NaN,NaN,NaN,6.3,31.0,16.0,NaN,NaN,NaN,0
4,F,89,4.5,170.0,3.8,0.5,0.2,0.0,0.0,133.6,57.0,17.0,81.0,19.0,626.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,M,57,6.8,172.0,6.2,0.3,0.3,0.1,0.0,27.6,83.0,137.0,92.0,NaN,455.0,1
219,F,72,10.1,245.0,NaN,NaN,NaN,NaN,NaN,49.6,28.0,22.0,NaN,NaN,328.0,0
220,F,79,6.4,170.0,5.0,0.6,0.7,0.0,0.0,2.0,70.0,45.0,NaN,NaN,NaN,0
221,M,80,11.0,285.0,9.3,0.6,1.1,0.0,0.0,135.1,34.0,20.0,NaN,NaN,369.0,1
222,F,57,10.7,176.0,9.1,1.1,0.4,0.0,0.0,129.6,57.0,35.0,NaN,NaN,601.0,1

In [4]:
data = dataset

data['Neutrophils']=data['Neutrophils'].fillna(data['Neutrophils'].mean())

data['Lymphocytes']= pd.to_numeric(data['Lymphocytes'], errors='coerce')
data['Lymphocytes']=data['Lymphocytes'].fillna(data['Lymphocytes'].mean())

data["Monocytes"] = dataset["Monocytes"].replace(np.NaN, dataset["Monocytes"].mean())

data['Eosinophils']=data['Eosinophils'].fillna(data['Eosinophils'].mean())

data['Basophils']=data['Basophils'].fillna(data['Basophils'].mean())

data['CRP']=data['CRP'].fillna(data['CRP'].mean())
data['WBC']=data['WBC'].fillna(data['WBC'].mean())
data['Platelets']=data['Platelets'].fillna(data['Platelets'].mean())
data['AST']=data['AST'].fillna(data['AST'].mean())
data['ALT']=data['ALT'].fillna(data['ALT'].mean())

data['ALP']=data['ALP'].fillna(data['ALP'].mean())

data['GGT']=data['GGT'].fillna(data['GGT'].mean())

data['LDH']=data['LDH'].fillna(data['LDH'].mean())

In [5]:
data

,GENDER,AGE,WBC,Platelets,Neutrophils,Lymphocytes,Monocytes,Eosinophils,Basophils,CRP,AST,ALT,ALP,GGT,LDH,Class
0,F,70,4.9,145.0,4.000000,0.700000,0.300000,0.000000,0.000000,87.9,68.0,41.0,89.000000,63.000000,606.00000,1
1,M,61,11.3,166.0,10.700000,0.500000,0.100000,0.000000,0.000000,174.3,118.0,95.0,59.000000,77.000000,808.00000,1
2,F,70,15.8,202.0,13.900000,1.000000,0.800000,0.000000,0.000000,43.8,20.0,26.0,80.000000,16.000000,235.00000,0
3,M,85,10.6,227.0,6.123636,1.213415,0.598182,0.053333,0.014634,6.3,31.0,16.0,95.018868,83.107143,373.77707,0
4,F,89,4.5,170.0,3.800000,0.500000,0.200000,0.000000,0.000000,133.6,57.0,17.0,81.000000,19.000000,626.00000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,M,57,6.8,172.0,6.200000,0.300000,0.300000,0.100000,0.000000,27.6,83.0,137.0,92.000000,83.107143,455.00000,1
219,F,72,10.1,245.0,6.123636,1.213415,0.598182,0.053333,0.014634,49.6,28.0,22.0,95.018868,83.107143,328.00000,0
220,F,79,6.4,170.0,5.000000,0.600000,0.700000,0.000000,0.000000,2.0,70.0,45.0,95.018868,83.107143,373.77707,0
221,M,80,11.0,285.0,9.300000,0.600000,1.100000,0.000000,0.000000,135.1,34.0,20.0,95.018868,83.107143,369.00000,1
222,F,57,10.7,176.0,9.100000,1.100000,0.400000,0.000000,0.000000,129.6,57.0,35.0,95.018868,83.107143,601.00000,1

In [6]:
# performing label encoding for the column "GENDER". It replaces M with 1 and F with 0. 

from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
data['GENDER']=label_encoder.fit_transform(data['GENDER'])
data

,GENDER,AGE,WBC,Platelets,Neutrophils,Lymphocytes,Monocytes,Eosinophils,Basophils,CRP,AST,ALT,ALP,GGT,LDH,Class
0,0,70,4.9,145.0,4.000000,0.700000,0.300000,0.000000,0.000000,87.9,68.0,41.0,89.000000,63.000000,606.00000,1
1,1,61,11.3,166.0,10.700000,0.500000,0.100000,0.000000,0.000000,174.3,118.0,95.0,59.000000,77.000000,808.00000,1
2,0,70,15.8,202.0,13.900000,1.000000,0.800000,0.000000,0.000000,43.8,20.0,26.0,80.000000,16.000000,235.00000,0
3,1,85,10.6,227.0,6.123636,1.213415,0.598182,0.053333,0.014634,6.3,31.0,16.0,95.018868,83.107143,373.77707,0
4,0,89,4.5,170.0,3.800000,0.500000,0.200000,0.000000,0.000000,133.6,57.0,17.0,81.000000,19.000000,626.00000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,1,57,6.8,172.0,6.200000,0.300000,0.300000,0.100000,0.000000,27.6,83.0,137.0,92.000000,83.107143,455.00000,1
219,0,72,10.1,245.0,6.123636,1.213415,0.598182,0.053333,0.014634,49.6,28.0,22.0,95.018868,83.107143,328.00000,0
220,0,79,6.4,170.0,5.000000,0.600000,0.700000,0.000000,0.000000,2.0,70.0,45.0,95.018868,83.107143,373.77707,0
221,1,80,11.0,285.0,9.300000,0.600000,1.100000,0.000000,0.000000,135.1,34.0,20.0,95.018868,83.107143,369.00000,1
222,0,57,10.7,176.0,9.100000,1.100000,0.400000,0.000000,0.000000,129.6,57.0,35.0,95.018868,83.107143,601.00000,1

In [7]:
#splitting the dataset into x and y(output)

x = data.drop(columns=["Class"])
y = data["Class"]
print(x.shape,y.shape)

(223, 15) (223,)

In [8]:
#splitting the dataset into train and test 

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=100)

In [9]:
x_train.shape, y_train.shape

((178, 15), (178,))

In [10]:
x_test.shape, y_test.shape

((45, 15), (45,))

In [11]:
#importing RandomForestClassifier 

from sklearn.ensemble import RandomForestClassifier

In [12]:
# training random forest model

model=RandomForestClassifier()
model.fit(x_train,y_train)
prediction=model.predict(x_test)

In [13]:
# Calculating the accuracy score

from sklearn.metrics import accuracy_score

score=accuracy_score(y_test,prediction)
score

0.7777777777777778

In [14]:
from sklearn.model_selection import GridSearchCV

# Define the model and the hyperparameter grid
model = RandomForestClassifier()
param_grid = {'n_estimators': [10, 50, 100, 200],
              'max_depth': [None, 5, 10, 20]}
# Create a grid search object
grid_search = GridSearchCV(model, param_grid, cv=5, scoring='accuracy', n_jobs=1, return_train_score=True)

# Fit the grid search object to the training data
grid_search.fit(x_train, y_train)

# Print the best hyperparameters and the mean cross-validated score of the best model
print(grid_search.best_params_)
print(grid_search.best_score_)

# Use the best model to make predictions on the test data
y_pred = grid_search.predict(x_test)

{'max_depth': 20, 'n_estimators': 100}
0.7980952380952381

In [15]:
score=accuracy_score(y_test,y_pred)
score

0.8222222222222222